.products {
    width: 100%;
    min-height: 1100px;
}

.products-title {
    margin: 40px;
    margin-left: 100px;
    font-weight: bold;
    font-size: xx-large;
}

.product-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 100px;
}

@media (max-width: 1200px) {
    .products-title {
        margin: 30px;
        margin-left: 10vw;
        font-size: x-large;
    }
    
    .product-items {
        margin: 0 10vw;
    }
}

@media (max-width: 750px) {
    .product-items {
        display: flex;
        justify-content: center;
    }
}

