.products {
    width: 100%;
    height: 1100px;
}

.products-title {
    margin: 40px;
    margin-left: 100px;
    font-weight: bold;
    font-size: xx-large;
}

.product-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 100px;
}
