.showcase {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.showcase img {
    width: 110%;
    animation: move-showcase 60s ease-in-out infinite
}

@keyframes move-showcase {
    from, to {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-300px);
    }
}