.showcase {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.showcase img {
    width: 110%;
    height: max-content;
    animation: move-showcase 100s ease-in-out infinite
}

@keyframes move-showcase {
    from, to {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-300px);
    }
}

@media (max-width: 1200px) {

    .showcase {
        max-height: auto;
        height: 25vh;
    }

    .showcase img {
        animation: none;
        width: 100%;
        height: auto;
    }
}